body{
	font-family: Arial;
	text-align: center;
}

.calk1 input{
	border-radius: 10px;
	height: 20px;
	width: 50px;
	margin-left: 10px;
	box-shadow: 1px 1px 5px;
}

.calk1{
	border: 2px solid #000;
	width: 500px;
	margin: 0 auto;
	height: 300px;
}

h1{
	margin-top: 40px;
}

button{
	height: 45px;
	width: 90px;
	border-radius: 15px;
}

.p_out{
	font-weight: 700;
	font-size: 20;
}